<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sulsulmarket.sulsul.member.dao.MemberMapper">

    <select id="getMemeberList" resultType="com.sulsulmarket.sulsul.member.dto.MemberDTO">
        SELECT * FROM MEMBER
    </select>

    <select id="getMemberById" resultType="com.sulsulmarket.sulsul.member.dto.MemberDTO">
        SELECT * FROM MEMBER WHERE MEMBER_ID = #{MEMBER_ID}
    </select>

</mapper>